[2013-01-30 06:12] avjui opened #12 "[Feature Request] Get favorite radio list"
First Thanks for this nice python class. It works very nice.
I am working on  on a web page which includes sonos.
Please can you implement a new feature. It would be nice to become a  list of the Favorite radio station.

[2013-01-30 19:18] rahims commented on #12
Could you tell me a bit more about the favorite radio list and/or include a screenshot? I don't see it in the Sonos application.

[2013-01-31 05:57] avjui commented on #12
After some search it looks like sonos let get the information from tunein.
I don´t know if it possible to  get the information for radio. Perhaps you can find the private key how sonos use then the class can attached the information by him self
![radio_favourites_crss](https://f.cloud.github.com/assets/1090640/113658/225a765c-6b6b-11e2-8f81-5aff983b06ca.jpg)
.

[2013-01-31 06:00] avjui commented on #12
Here also some links.
https://sonos.custhelp.com/app/answers/detail/a_id/818/session/L2F2LzEvdGltZS8xMzU5NjExOTQ4L3NpZC9OUDdjOUZobA%3D%3D
and
https://sonos.custhelp.com/app/answers/detail/a_id/84/~/tunein-radio-and-sonos

[2013-02-01 18:45] avjui commented on #12
Hmm

It seems that under http://ip:1400/status/radiolog we can found partnerid and id perhaps this helps
After some look I found the the current radio station can be found with
http://opml.radiotime.com/Describe.ashx?c=nowplaying&id=${ID}&partnerId=Sonos&serial=${SERIAL}

mfg

[2013-02-02 23:47] rahims commented on #12
Haven't written the code for it yet, but from investigation, you can get the list of favorite "Radio Stations" by sending an HTTP/1.1 POST request to http://[ip]:1400/MediaServer/ContentDirectory/Control with the following:

[code]

Similarly, you can get a list of the favorite "Radio Shows" by sending an HTTP/1.1 POST request to http://[ip]:1400/MediaServer/ContentDirectory/Control with the follo

[2013-02-03 11:01] avjui commented on #12
Nice thanks. I like to hear this.

Then I have a second request that based on this.
Is it also possible to get radio logo instant ' '  in the function get_current_track_info()['album_art'] when sonos play a radio station.

[2013-02-03 11:10] avjui opened #13 "[BUG] Parsing error when sonos was new startet"
When I startet sonos new or on one zone was display 'no Musikfile' then the parser give me an error.

 File "/mnt/Media/Downloads/Homematic/core/DBFunctions.py", line 379, in UpdateSonosTable
    devices = Sonos().GetTrackInfo()
  File "/mnt/Media/Downloads/Homematic/core/module/sonos.py", line 36, in GetTrackInfo
    track = sonosdevice.get_current_track_info()
  File "/mnt/Media/Downloads/Homema

[2013-02-04 09:02] DPH commented on #13
I had the same problem. It started after the change 'Add minor support for getting track info when playing radio' 14 days ago. I discovered it occurs when no music is playing on a zone:
d = dom.findtext('.//TrackMetaData') returns nothing.
This causes the metadata = XML.fromstring(d.encode('utf-8')) to fail.

I have added a check for this in my code, but need to learn how to post it as a change.
I

[2013-02-05 18:36] rahims commented on #13
Thanks for reporting. Just pushed a fix.

[2013-02-05 18:36] #13 closed, assigned to rahims

[2013-02-05 18:58] rahims commented on #12
I looked into getting the radio station's logo, but it isn't returned in the normal `GetPositionInfo` UPnP call, so the Sonos controller must be getting it some other way. (Most likely by querying TuneIn directly.)

I think it's best to open up a new, separate feature request thread in Github Issues for this so that I can track the information I find around it since this thread will be closed soon

[2013-02-05 19:09] rahims opened #14 "[Feature Request] Get event notifications (song change, pause, etc.)"
Requested by @labero through e-mail.

Would be very useful for those building GUI clients if they could get notifications when events occur, such as a song change.

[2013-02-05 19:11] rahims commented on #14
I'll be working on implementing this over the next few days.

[2013-02-05 20:41] avjui opened #15 "[Feature Request] Get radio logo"
Hi

It would be nice to get the radio logo.
I think it will work when you parsing this directly from tunein

with

http://opml.radiotime.com/Describe.ashx?c=nowplaying&id=${ID}&partnerId=Sonos&serial=${SONOS_SERIAL}
the id you become from the radio request return

[code]

the id isin this example the s34767

[2013-02-05 21:09] labero commented on #14
Very interesting! I'll be keeping a close eye. :)

[2013-02-05 22:36] KennethNielsen opened #16 "[Feature proposal] Unit tests"
First of, thank to rahims for creating the project and to everyone else who has contributed. It looks to be a promising project.

Since there seem to be a great deal of development activity, I thought it would be helpfull with some unit tests of the soco methods, to watch out for regressions.

I'm already working on it and I'm posting mostly to avoid double work. If anyone else is working on somet

[2013-02-06 01:17] rahims commented on #16
Unit tests would be very helpful--thanks! :thumbsup: (I'm not working on any currently.)

[2013-02-06 22:33] rahims commented on #12
Just pushed an update with two methods added: `get_favorite_radio_shows` and `get_favorite_radio_stations`:

[code]

Use them like this:

[code]

No support for returning the radio station's logo just yet, but I'll look into it.

These two methods have some extra information that make it easier to implement paging. In addition to the list of favorites, they also return the total number of favorite

[2013-02-06 22:33] #12 closed, assigned to rahims

[2013-02-07 08:23] avjui commented on #12
Thanks

[2013-02-07 21:21] KennethNielsen commented on #16
I have made a pull request for the first few unittests, but I suggest that we keep this issue open until the unit test coverage is more complete.

[2013-02-09 05:33] rahims commented on #14
There's still work to be done, but I wanted to put up what I've got so far and get your feedback. I've pushed the initial bit of code for Sonos events to a new topic branch called "[sonos-events](https://github.com/rahims/SoCo/tree/sonos-events)".

The major difference is the addition of a new class `Events` contained in `events.py`. The new class depends on [gevent](http://www.gevent.org), so sta

[2013-02-09 12:44] KennethNielsen commented on #14
This looks great. I will be interested in this as well. I actually couldn't figure out how to make it work with the code above :( I think it is a threading issue, could you throw me a hint, or perhaps an example.

With regards to the data structure of the return structure. With a lot of key/value pairs a dictionary seems like a good choice, however, I usually prefer wrapping the data in a class an

[2013-02-09 16:25] rahims commented on #14
Sorry, I just noticed `s.start()` shouldn't be called from inside a UI event loop since this would cause the server to start everytime the event loop is run through. Corrected my previous comment for future readers.

Here's a very contrived example of the new `Events` code running:

[code]

While that's running, you can start up your Sonos controller and play a song to see the notifications it sen

[2013-02-09 17:15] KennethNielsen commented on #14
Thanks I got it working now. Actually, it may have been just me staring my self blind on the last number in the IP address and the forgetting the second to last, sorry _hides embarrassed_.

[2013-02-09 17:22] rahims commented on #14
One more example, this time with [Tkinter](http://wiki.python.org/moin/TkInter). I'm not actually familiar with Tkinter, so this is entirely from [this Github repo](https://github.com/rik0/Tk-Gevent-Example/blob/master/greenlet_for_dummies.py) with `Events` code tossed in.

[code]

![Tkinter](https://f.cloud.github.com/assets/111628/142293/fa69ddda-72dc-11e2-8fbc-69c197e02af3.png)

**Warning**: th

[2013-02-10 01:12] avjui opened #20 "[BUG] Encode Error with 'get_favorite_radio_stations'"
Here is the Traceback

[code]

This error come by parsing the name 'Ö2 Radio'

[2013-02-10 01:32] KennethNielsen commented on #20
@avjui I think that was one of the errors that I addressed with a pull request from yesterday (https://github.com/rahims/SoCo/blob/master/soco.py#L859). Could you try and fetch the latest master and see if the error still occurs. If it does please let me know where in the browse radio stations I can find this station.

[2013-02-10 01:42] avjui commented on #20
It seem your are right so we close this. Thanks

[2013-02-10 01:42] #20 closed, assigned to nobody

[2013-02-10 01:45] avjui commented on #15
For parsing id and get xml to parse the logo

[code]

[2013-02-10 07:44] labero commented on #14
Looks very interesting. I've look at the code and made some small structural changes. However, since I'm not at home I haven't been able to test if my changes actually works.

This is also the first time I've worked with gevent, so I'll dig into it when I can do some tests. Hopefully I'll find some time this evening.

[2013-02-10 17:20] labero commented on #14
Hello again,

I've been thinking about the events and how it could be implemented. How about this:

The goal with this idea is to make the library as simple as possible. I believe that for the end user something similar to the code below would be as simple as possible:

<pre>

    print 'Got an event'

                    event_type = 'TRACK_CHANGE')
.
.
.

                    event_type = 'TRACK_

[2013-02-10 17:40] KennethNielsen commented on #14
I like the idea of interfacing the events code though wrapper methods in the SoCo class. That will give access to the IP-address once the soco class is instantiated and will present a single interface for the controller. However, I would propose to still keep the events code in a separate class and file for modularization purposes, to make sure that the soco class does not explode in size and comp

[2013-02-10 17:53] labero commented on #14
I totally agree. That was what i had in mind, apparently I managed to
describe it sloppy. :)
On Feb 10, 2013 6:40 PM, "Kenneth Nielsen" notifications@github.com wrote:

[2013-02-10 18:15] rahims commented on #14
Thanks, guys. Bringing it into SoCo itself makes sense, and I agree about the ability to subscribe to specific events, like "track change".

I'll look more into threading vs gevent. I'm new to gevent as well, but it looks like a good solution, since it's so easy to write from a library perspective (the source is easy to read and understand) and has a nice WSGI server. In the end, how easy it is fo

[2013-02-10 23:23] KennethNielsen commented on #14
I guess gevent uses threads in some way or another, otherwise I don't think it would be possible to call the subscribe and have the call return to the caller. Personally I think that if there is a library available that makes the implementation easy by doing some of the legwork and if that lib is easily available (gevent _is_ in package libraries on Linux) then I'm all for ;) No need to write ever

[2013-02-11 22:58] labero commented on #14
I've tried to make events threaded, but it wasn't easy with gevent. I don't have a solution yet, but I have to give up for today I am way to tired now. :)

[2013-02-12 05:20] scottgwaters commented on #14
Great to see this being worked on. I have a use for this. Trying to setup a raspberry pi to sense when a sonos connect is playing and turn an amp on or off. Have your module up and running great. Thanks for all the work. hopefully I can contribute even if its jus testing.

[2013-02-12 05:32] scottgwaters commented on #14
get this error when trying to install module

gevent/libevent.h:9:19: fatal error: event.h: No such file or directory
compilation terminated.
error: Setup script exited with error: command 'gcc' failed with exit status 1

[2013-02-12 21:17] scottgwaters commented on #14
Ok I didn't have all dependencies installed.

sudo apt-get install libevent-dev
sudo pip install greenlet
sudo pip install gevent

[2013-02-12 21:23] KennethNielsen commented on #14
@scottgwaters If you are on Ubuntu (and likely also Debian) gevent (along with requests) is also available directly from the package archive as "python-gevent". That should take care of the dependencies automatically.

[2013-02-12 21:52] scottgwaters commented on #14
@kennethNielsen thanks. I'm on Debian. I am now getting a different error. I've gone ahead and installed dependencies with

sudo apt-get install python-gevent

Traceback (most recent call last):
  File "feedback.py", line 2, in <module>
    from soco import Events
  File "/usr/local/lib/python2.7/dist-packages/soco-0.4-py2.7.egg/soco.py", line 18, in <module>
    from events import Events
ImportEr

[2013-02-13 03:15] rahims commented on #14
@scottgwaters Could you check to make sure you pulled down the SoCo source code from the "[sonos-events](https://github.com/rahims/SoCo/tree/sonos-events)" branch rather than the "[master](https://github.com/rahims/SoCo)" branch? The Events code is still very much alpha, so it's being developed in a separate branch.

[2013-02-13 03:18] rahims commented on #14
@labero Thanks for trying! I'm going to be busy for about a week (need to do a last minute move to a new apartment), so I won't be able to take a crack at it as soon as I'd like to, but will be on it as soon as I can.

[2013-02-13 03:21] rahims commented on #15
Thanks, @avjui! I going to be pretty busy moving apartments for the next week, but I'll bring your code into the library right after. Thanks again!

[2013-02-13 03:38] scottgwaters commented on #14
@rahims I had previously installed master. Maybe that is the problem. I've actually forked master and added a command to see if the speaker is playing or stopped.

[2013-02-17 06:59] BillSobel opened #23 "Does not handle Zone bridge"
Currently the library causes a crash when it encounters a zone bridge.  The zone bridge only returns ZPSupportInfo but does not return ZPInfo.  So the code that assumes this is returned get_speaker_info throws an exception.

DEBUG:requests.packages.urllib3.connectionpool:"GET /status/zp HTTP/1.1" 200 None
<?xml version="1.0" ?>
<?xml-stylesheet type="text/xsl" href="/xml/review.xsl"?><ZPSupportInf

[2013-02-17 11:30] phut commented on #23
how did you trigger this crash?  can be fixed directly in get_speaker_info however my guess is that the discovery routine should not be returning the bridge as part of the list of devices. were you particularly interested in addressing the bridge?

[2013-02-17 17:31] BillSobel commented on #23
Hi,

I wasn't trying to find the bridge, my code was just an initial test of the library and very basic.  I hacked up get_speaker_info() to return None for now (hence the test) and also had to catch ConnectionErrors as discovery is also finding my Philips Hue zigbee controller and then failing to connect 5 times after it does.

Cheers and thanks for the quick response.
Bill

if **name** == '**main

[2013-02-17 23:12] KennethNielsen commented on #23
Hallo BillSobel

The fact that the discover is also finding non-zonos devices should probably be raised as a separate issue.

With regard to the problem with the bridge. Maybe the better way to solve this would be to make a communication and id check in the **init** method of SoCo. That would also allow us to handle it if people type in a wrong IP. Right now if you do that you will be allowed to i

[2013-02-17 23:25] BillSobel commented on #23
I think you will also have to try and parse the response a bit in init since the bridge does respond, just not with the expected payload.

[2013-02-18 23:22] KennethNielsen commented on #23
Well yes and no. I read it wrong. It wasn't the request that returned None but the dom.find. But actually, I don't necessarily need to parse it, I just need to see that the normal parse fails. One way to do it would be to call the get_info method in **init** and parse the exceptions as described above. I have made an example implementation that it would be great of you would test out. You can get

[2013-02-19 00:20] BillSobel commented on #23
Ok tried the latest.  Throws the proper exception with the Hue controller so it is skipped.  It however is not throwing an exception for the Sonos Bridge (and as I am trying a second location as well, it also does not throw an exception for a Sonos Dock).

I think init may have to check to see if something like the uid is not None and then declare the device controllable (maybe have a Controllable

[2013-02-19 08:30] KennethNielsen commented on #23
That is my mistake. I somehow managed to not get the latest code down as a basis, which means that the .encode('utf-8') for the zone name, which gave the exception I'm listening for, is not present. I will fix it up tonight and send a new version.

[2013-02-20 22:57] KennethNielsen commented on #23
Ok. I have given it a new try. I have taken your advice and am now actually checking if we can parse the response for a uid. The reason I was a little reluctant to do it that way is, that I don't like copying code, but I think that you are right, that it is the better way to do it, so now I've implemented it. Would you care to test it for me. Same procedure as last time but with a different branch

[2013-02-28 18:34] KennethNielsen opened #25 "Cannot get get_queue to work (request returns error and therefore get_queue returns empty list)"
Hallo

I'm not quite sure what happened. Yesterdayn while I was working on the unittests and using the get_queue method I decided to merge upstream master into my branch and after that the get_queue method did not work anymore. At first I thought that maybe I had done something wrong (I'm a bit of a git newbie) so then I cloned a fresh copy of upstream and I still have the problem.

Can anyone els

[2013-03-01 14:49] DPH commented on #23
Good spot. Have tested this on my set up and your code correctly excludes
the Bridge. Thank you.

Would change the text in the error message slightly to read:
'ValueError: Invalid IP address "192.168.1.95". The Sonos device specified
is not controllable.'
instead of:
'ValueError: Invalid IP address "192.168.1.95". The sonos device at the
specified is not controllable.'

Should then get it merged i

[2013-03-02 16:44] KennethNielsen opened #26 "Bug in get_speakers_ip"
While writing a unit test for the get_speakers_ip method I discovered that it does not work on my computer. The second line below caused an AttributeError for the attribute "text".

response = requests.get('http://' + self.speaker_ip + ':1400/status/topology')
text = response.text

Maybe the reason is different versions of the requests library, where this attribute is no longer present.

I have wr

[2013-03-02 17:01] KennethNielsen commented on #23
@DPH Thanks for testing it. It is good to know that it works with the bridge. BTW did you test the SonosDiscovery class as well? I'm hoping @BillSobel will test it as well before it is committed, to see if it also correctly excludes his zigbee.

Thanks for the hint on the exception string. I changed the formulation a few times and apparently ended of with two half formulations mixed together (emba

[2013-03-02 17:03] BillSobel commented on #23
Sorry for the delay. Work had me in Spain last week now India. I should be
able to test this coming thurs/fri.

Cheers
Bill

Sent from my iPhone please excuse any typos.

On Mar 2, 2013, at 10:31 PM, Kenneth Nielsen notifications@github.com
wrote:

@DPH https://github.com/DPH Thanks for testing it. It is good to know
that it works with the bridge. BTW did you test the SonosDiscovery class as
well?

[2013-03-02 22:18] DPH commented on #23
Yes tested SonosDiscovery  class as well.
Used my son's bridge as I have my first Sonos unit connected directly
to Ethernet.

We also need to test with the new SonosSub, and the SonosTV sometime.

Great work,
Cheers David

On 2 March 2013 17:01, Kenneth Nielsen notifications@github.com wrote:

[2013-03-03 18:41] DPH opened #29 "Can't set volume to 0"
Great project - really enjoying it.

Because the volume can get or set volume it sets the value to False when getting volume.
Setting the volume to 0 is also interpreted as False so you can never set volume to 0.

Fix suggested by Kenneth Nielsen is to use the None Type as follows:

[code]

etc......

have tested and it works fine
Cheers David

[2013-03-03 22:39] KennethNielsen commented on #29
Ah, that's nice. I was actually speaking more generally and wasn't aware that there was any actual problems with it, nice catch. When we get it fixed I'll be sure to add a unit test for it. If you would like, it would be cool if you would create a fix for it as a commit or as a named branch containing the fix. That way, it'll be real easy for @rahims to include.

[2013-03-03 22:48] DPH commented on #29
Hi, thanks - been wondering how to fix it for some time and then I read
your suggestion.
Am new to GitHub, but have posted my first pull request an hour ago
(an extension to mute)
Am doing it from Windows which currently lacks tutorials....
Love the sharing and collaboration that seems to occur.

Will do another commit for the volume issue, and make the same change for
bass and treble in the morni

[2013-03-04 22:26] KennethNielsen commented on #29
Ok, so about the commits and the pull requests. You actually make a pull request for the branch, not for the commit*. So what you have requested in the "extend mute" pull request is to have you master branch pulled into rahims master branch. If you make any commits to your master branch after, those commits will also become part of the existing pull request for that branch. For an example you can

[2013-03-05 19:18] KennethNielsen opened #31 "[Discussion] Form IRC channel for soco"
Hallo

I was wondering whether anyone else would be interested in an IRC channel for soco. I think that every once in a while, there are some things that could be better solved via IRC. There should of course be no obligation to how much time people use on the channel, but just whenever we feel like it.

What do you think?

[2013-03-05 20:18] DPH commented on #31
Like the idea of interaction to solve some issues but never used IRC. Would Google groups provide the needed facilities?

Big issue will be time zone and people's availability. Supportive if others are interested.

This is a great project and has so many opportunities. I am using it more and more with my Sonos, and running the code on a Raspberry Pi.

Cheers Daivd

[2013-03-05 20:25] DPH commented on #29
Hi Kenneth,
thank you for your help and replies. Understand the benefit of using branches and have it sort of working on my Windows PC. Have tried using Git from eclipse (but that became hard), have tried the Git for Windows which is quite good, and also installed git command line for windows.

One question: there is only one set of code in the directories on my file system. When I switch branches

[2013-03-05 20:36] stefankoegl commented on #31
+1 for IRC

[2013-03-05 20:42] stefankoegl commented on #29
When you switch between branches (with git checkout) the files in the working directory update accordingly. If you need to have two branches available at the same time, you could create two separate clones of the repository, and work with those. If you just need to compare branches, you can always use git diff and git log with different branch names, commit hashes, etc.

[2013-03-05 21:06] rahims commented on #31
I'd be fine with either. Though, I don't know how often I could be in the IRC channel because my schedule is kind of all over the place. Looking forward to sitting down later today with all the awesome updates you guys have been making these past two weeks though! :smile:

[2013-03-06 22:41] KennethNielsen commented on #31
@DPH I was actually looking for something that would give us an opportunity to interact real-time. As far as I can tell Google groups only have that in the form of group chats that needs to be manually initiated. With IRC we will just have a chat channel open 24-7 that we can log into whenever we want to.

Given the feedback here, I wen't ahead and created the channel. Then we will see if it turns

[2013-03-06 23:04] rahims commented on #31
Not a problem, updated the readme (which automatically renders as the front page). In the channel as well.

[2013-03-07 15:41] KennethNielsen commented on #31
There is now also a reference back to the project webpage in the topic for the channel, closing this thread.

[2013-03-07 15:41] #31 closed, assigned to nobody

[2013-03-08 00:07] rahims opened #33 "[Random] Some interesting links to look through"
http://[Sonos player IP]:1400/status

Lot's of interesting information, including the player's temperature and free memory :smiley:

[2013-03-08 00:14] rahims commented on #33
Usernames for all the third-party music services you've set up: http://[Sonos player IP]:1400/status/securesettings

[2013-03-08 00:15] scottgwaters commented on #33
I've actually got new code that will extract the username for the music services. I know how to get pandora stations and play them as well just need some time to implement them. Maybe I'll have some time tonight to throw some code up here for others to play with.

[2013-03-08 00:16] scottgwaters commented on #33
I know 3 is Pandora

[2013-03-08 00:27] rahims commented on #33
Very cool, looking forward to it!

A few more:

2 = Rhapsody
3 = Pandora
11 = Last.fm
1543 = iHeartRadio
2055 = Auepo
2823 = Rdio
3335 = Stitcher Smart Radio
6151 = DAR.fm Record Radio
6663 = Amazon Cloud Player
7431 = Songza
8455 = Murfie
9735 = 7digital

Still needed:
- Audible
- Hearts of Space
- MOG
- SiriusXM
- Slacker
- Spotify
- Wolfgang's Vault

[2013-03-08 03:32] scottgwaters commented on #33
[code]

[2013-03-08 04:02] scottgwaters commented on #33
This will playback a pandora station.

[code]

[2013-03-08 04:05] scottgwaters commented on #33
4359 - Slacker

[2013-03-08 04:54] scottgwaters commented on #33
Also you need to send play command after changing the station.

[2013-03-08 09:22] KennethNielsen opened #34 "[Proposal] Move soco to a group project"
Hi everyone

Lately there has been quite a lot of interest in the development of SoCo and therefore I am opening this discussion about moving the development to a group project. The advantages as I see them are:
- This will serve as an easily identifiable "official" repo
- It will make for a more suitable location for documentation, if we start writing some in the wiki (which is what officially pr

[2013-03-08 10:37] stefankoegl commented on #34
+1

One note to documentation: I've been working on integrating SoCo with https://readthedocs.org/ lately. I hope I have a first pull-request in a few days

[2013-03-08 19:06] rahims commented on #34
I think that's a good idea. I'll set up the group  this weekend.

On Friday, March 8, 2013, Stefan Kögl wrote:

[2013-03-09 09:15] rahims commented on #34
So, "SoCo" is already taken (http://github.com/soco). It looks like the account was created a few years ago and hasn't been used, so maybe the folks at Github will allow us to reclaim the name. (Similar to how Twitter does it with inactive accounts.) Or, we could rename the project to something else, though that might hurt discovery a bit since the existing name already has a year's worth of searc

[2013-03-09 09:31] DPH commented on #34
Agree to keep the name. As interest builds a name change can loose the
momentum.
See if Github allows reclaim - or approach the owners directly (although
can't see how to find them)?
I am still learning about Github.

If not then is adding collaborators achieves the same go for that.

Great work
Cheers Daivd

On 9 March 2013 09:15, Rahim Sonawalla notifications@github.com wrote:

[2013-03-09 09:36] stefankoegl commented on #34
An organization makes most sense if you want to host multiple repositories under one "project name". I'd recommend trying to reclaim the name, and adding team members to the existing repository as an intermediate solution (if required).

[2013-03-11 08:42] DPH commented on #33
There is also interesting stuff at http://[Sonos player IP]:1400/xml/device_description.xml
Could use this to expand get_speaker_info
Cheers David

[2013-03-11 09:03] DPH commented on #34
Well done - shows the power of networks.

I assume we need some "guidelines" on using it: eg always have at least 2
people approve code
There must be some principals out there for other group projects.

Cheers Daivd

On 10 March 2013 23:39, Rahim Sonawalla notifications@github.com wrote:

[2013-03-11 16:34] stefankoegl opened #39 "Release Procedure"
I've packaged SoCo for PyPI some time ago (http://pypi.python.org/pypi/soco). The published version is, however, still 0.1 and thus quite outdated, as we seem to be at 0.5 right now. I'll update the package soon, but I'd like to propose and discuss the workflow first.

I assume that the job of versioning will be done by @rahims, right? If so, I'd like to agree on some procedure for that. My sugges

[2013-03-11 19:57] phut commented on #15
You are a bit better off using this link - it gives the station info as opposed to the current track from avjul's code

[code]

[2013-03-11 20:30] KennethNielsen commented on #39
I think that sounds good.

I was wondering by the way, how people usually use sphinx when they do documentation. Maybe stuff like this, programming conventions, design discussion etc., and other more lively information will go better on the wiki and the sphinx docs is reserved for programming documentation, tutorial and code examples etc?

What do you think.

\Regards Kenneth

[2013-03-11 20:32] KennethNielsen commented on #34
@DPH Yeah, that sounds like a good idea. I would probably make them a little less restrictive to begin with, to not make it to troublesome to contribute, something like 1 approval and no-one wildly objecting with in a week. But maybe we should open a separate issue to discuss that once the transition has happened.

[2013-03-11 20:49] stefankoegl commented on #39
That might be a bit OT, but GitHub lets you put [Contributing Guidelines](https://github.com/blog/1184-contributing-guidelines) in a specific file that is then shown when creating the pull request. So this would be the ideal place to summarize / link to coding standards, etc. Putting architecture related information into Sphinx docs or the wiki should be ok, but probably we should discuss that sep

[2013-03-11 21:16] KennethNielsen commented on #39
Ahh the contributing file looks like the ideal place.

Yes, lets take that in another thread. I guess my thought was that the docs should be just the docs, so that e.g. if people wanted to keep a more lively TODO or try to draft something that is probably more suited for wiki. Oh well, just thoughts.

[2013-03-11 21:38] scottgwaters opened #40 "[POLL] What music services do you use."
I would be interested in knowing what music services people are using that way if there are a few shared services I can work on those first. Here is what I use

Pandora
Spotify
Slacker

[2013-03-11 21:42] stefankoegl commented on #40
Spotify

[2013-03-11 21:50] KennethNielsen commented on #40
Wimp. Not sure if it is specific to Denmark. I was close to subscribing to Spotify and may shift if I can't figure wimp out.

[2013-03-11 22:08] rahims commented on #40
In order of use:
- Pandora
- Rdio
- iHeartRadio

[2013-03-11 22:10] petteraas commented on #40
I use Wimp here in Norway, I believe it's only available in a few European countries.

[2013-03-11 22:16] rahims commented on #16
Cleaning up by closing this issue since we can discuss it in #17.

[2013-03-11 22:16] #16 closed, assigned to nobody

[2013-03-11 22:22] KennethNielsen commented on #16
Makes sense. Thanks.

[2013-03-11 22:43] rahims commented on #26
Hm...which version of Requests are you using? (You can find out by typing `pip freeze` in the project folder's terminal.) `text` was [added](https://github.com/kennethreitz/requests/commit/49a38ac89a7bc7cbbeaa2322d4a5d45fcd590054) in early 2012, so it's probably best to keep it as is since it's going to be there for the foreseeable future.

Commits e5639e6 and b22f2f8 are sensible, please send a p

[2013-03-11 22:45] #29 closed, assigned to nobody

[2013-03-11 23:00] KennethNielsen commented on #26
Ahh, so .text is the "new way". I use version '0.8.2', which is what is packaged in Ubuntu 12.04, so that is probably the issue then.

I can see that the text attribute is only used in this one location. Then the question is what to do about it. 12.04 is the last long term support release, so it is going to be used a while longer, and it is nice to be able to use packaged software. I guess we can:

[2013-03-12 02:06] phut commented on #40
Tunein - I happened to use it pre-sonos then found out that it is the framework behind the radio stations on sonos anyway (at least it is in the uk)
spotify

[2013-03-12 09:30] DPH commented on #26
From looking Requests version 0.8.2 is from end 2011, the current release is 1.1.0
If there is no downside to using .content then that seems the easy fix to ensure compatibility.
Lets not make it too complicated....

Should we somewhere state the minimum version of requests that this will work with?
Cheers Daivd

[2013-03-12 09:36] stefankoegl commented on #26
David, the requirements.txt would be the place to document such things. See http://www.pip-installer.org/en/latest/requirements.html for supported syntax.

[2013-03-12 09:37] DPH commented on #26
Thanks - still learning.....

[2013-03-12 10:35] DPH commented on #40
Use a lot:
- Napster (UK version of Rhapsody) - think it works the same just branding
- Radio (via Tune In I think) - although BBC Radio 6 Music seems to behave differently

occasionally use:
- Last FM (but always Scroble to it - great service - track all the music you play and provides stats)
- Audpeo

would like to use:
- Google Music (but not supported yet - if ever)
- Amazon MP3 & Cloud Music

[2013-03-13 23:23] rahims commented on #34
Spoke to a friend at Github and he was able to reclaim the name for us, https://github.com/soco. I've copied over the current repo to the new organization, set up the initial team [1] and given them push/pull and full admin rights. Going forward, please fork, star, and send pull requests to the newly official repo: https://github.com/SoCo/SoCo.

The issues and existing pull requests didn't transfe

[2013-03-14 07:13] stefankoegl commented on #34
I've updated the settings on Read The Docs (#36) to reflect the move.

On a related note, I'd have preferred a full move (including tickets, etc) and deliberately breaking users clones, so they know that they have to update.

[2013-03-15 08:59] KennethNielsen commented on #25
I have moved this bug report to SoCo/SoCo

[2013-03-15 08:59] #25 closed, assigned to rahims

[2013-03-17 15:43] KennethNielsen commented on #34
This seems mostly done. Let's discuss any future issues related to the move on the new location and close this issue.

[2013-03-17 15:43] #34 closed, assigned to nobody

[2013-03-17 15:53] KennethNielsen commented on #40
Since we are moving, we should see if we can close all the old issues. I'm assuming that you have enough information and will close the issue. Feel free to reopen if you still need more feedback.

[2013-03-17 15:53] #40 closed, assigned to nobody

[2013-03-17 16:09] KennethNielsen commented on #33
As a part of move I though I would close this thread. I have added all this good information to two pages on the wiki of our new location: https://github.com/SoCo/SoCo/wiki

[2013-03-17 16:10] #33 closed, assigned to nobody

[2013-03-17 16:18] KennethNielsen commented on #23
@BillSobel Hallo. Did you get a chance to test this?

[2013-03-18 13:54] stefankoegl commented on #34
As user TLE in #soco asked how to migrate a local clone to the moved repository:

[code]

[2013-12-15 19:59] anonfunc opened #43 "Source code here does not match published SoCo"
https://pypi.python.org/pypi/soco/0.6

SoCo there points here, but the version there is 0.6 and the source layout is different.
Is SoCo's source still hosted here?

I'm planning on using SoCo for https://github.com/anonfunc/remote/

[2013-12-15 20:08] DPH commented on #43
This has been migrated to ScCo/SoCo - I follw, use and contribute a little.
Lots of additions here
Cheers David

[2013-12-16 00:52] anonfunc commented on #43
Okay, so the only issue here is the description at pypi.
Thanks!

[2013-12-16 00:53] #43 closed, assigned to nobody

[2013-12-16 12:16] KennethNielsen commented on #43
It seems that @stefankoegl has updated the description at pypi. Thanks for the bug report.

[2013-12-16 16:46] stefankoegl commented on #43
I've fixed that in SoCo/SoCo@23ed9157fa1aeea9887f4e20f1d612e28b2db6b9

[2014-01-30 08:55] DrSAR commented on #14
This looked very promising. I am very interested to follow up with this. What is the latest thinking on integrating listening to events with SoCo? Has this been abandoned due to a competing solutions or is it still worth pursuing?

[2014-02-02 10:29] stefankoegl commented on #14
In my opinion its definitely still worth pursuing. A lot of internals have changed since, and the main repository has been moved to [SoCo/SoCo](https://github.com/SoCo/SoCo), so you'll find the latest code there.

If you start working on this, you could restart the discussion there to have everything centralized.

[2014-02-02 10:57] DPH commented on #14
+1 would love to see this progressed - under SoCo/CoCo

[2014-02-03 21:56] KennethNielsen commented on #14
Me too. As far as a remember, most of the code is already there to get the events, what was missing was a way to make them available. I think @rahims was considering what mechanisms to use like maybe a kind of signals, but I would actually suggest that, just to begin with and to make sure that there is a simple solution too, to implement a solution with a queue first, then something with singnals

[2014-02-03 21:58] KennethNielsen commented on #15
Development of SoCo continues under https://github.com/SoCo If the work is still relavant, please re-open under that project.

[2014-02-03 21:58] #15 closed, assigned to rahims

[2014-02-03 22:00] KennethNielsen commented on #39
Development of SoCo contionues under https://github.com/SoCo

[2014-02-03 22:00] #39 closed, assigned to rahims

[2014-02-03 22:01] KennethNielsen commented on #26
This issue is no longer relevant. Closing.

[2014-02-03 22:01] #26 closed, assigned to rahims

[2014-02-03 22:01] KennethNielsen commented on #23
Development of SoCo contionues under https://github.com/SoCo

[2014-02-03 22:01] #23 closed, assigned to nobody

[2014-02-03 23:50] DrSAR commented on #14
Thanks for the input. Issuw now moved to https://github.com/SoCo/SoCo/issues/86
I guess this can be closed.

[2014-02-04 06:51] #14 closed, assigned to rahims

[2014-03-25 14:11] nikriek opened #44 "Error when using custom streaming service"
I found a good way to stream songs from SoundCloud to my Sonos, but unfortunately it doesn't really work with this (very cool) API. Any idea why this does happen?

[code]

I'm not a python pro, that's why I can't fix it.

[2014-03-25 16:53] #44 closed, assigned to nobody

[2014-03-25 16:53] nikriek commented on #44
Was a terminal problem…

[2014-04-23 14:38] bioken opened #45 "Access speed to music library"
Hi Rahim,

Great stuff. Really nice! You should change your name to Sonoswalla!-))

I've written my own Zonos controller, with the long term aim to at least provide the same interface to my computer (aka add it as a virtual Zone player). Having some thoughts on ensuring party-mode would work using frequency analysis and cross-correlation of the sound-track. That's still down the track. Currently,

[2014-04-23 14:46] KennethNielsen commented on #45
Hallo @bioken

All development of SoCo now take place in https://github.com/SoCo.

Please re-post your question there.

Thanks in advance.
Regards Kenneth

[2014-04-23 14:46] #45 closed, assigned to nobody

[2014-06-10 09:50] bioken opened #46 "mute and volume functions"
Hi,
I moved all my stuff from my macbook air (working fine) to my imac. I now get the following error for mute ('bool' object is not callable) and a similar one for volume ('int' object is not callable).

After some browsing and testing it seems that using the function
sonos.mute which declares an internal variable as mute, causes the inconsistency between callable function and variable. If I chan

[2014-06-14 09:10] stefankoegl commented on #46
Can you please provide some code that produces this error?

[2015-11-08 22:12] Reborn2 opened #47 "Question about Queue"
Hello

Using Soso and have a question about commands.

SonosSoCo.get_current_track_info() lets report the informations of the current track where i can read the informations like artist album title thats all okay

SonosSoCo.get_queue() lets report the playlist as queue but i cant pick out the information about the next track

Is there an command for getting just the information of the next track

[2015-12-04 09:52] shining01 opened #48 "No route to host"
Hello,

i get the following error after this command: python sonoshell.py 192.168.10.27 play. Why?

Traceback (most recent call last):
  File "sonoshell.py", line 34, in <module>
    print sonos.play()
  File "/usr/local/lib/python2.7/dist-packages/soco/core.py", line 439, in play
    ('Speed', 1)
  File "/usr/local/lib/python2.7/dist-packages/soco/services.py", line 158, in _dispatcher
    return

[2016-04-08 21:10] KennethNielsen commented on #48
Hallo @shining01

Development on SoCo has been moved to: https://github.com/SoCo/SoCo. I suggest you check out whether the version there has the same issue, and if that is the case, raise the issue there.

[2017-03-19 20:27] KennethNielsen commented on #47
Hi @Reborn2

All development of SoCo has moved to https://github.com/SoCo/SoCo. Please re-postyour question there. We also have a google group and an IRC channel which are the preferred media for support.

[2017-03-19 20:27] #47 closed

[2017-03-19 20:28] KennethNielsen commented on #48
All development of SoCo has moved to https://github.com/SoCo/SoCo. Please re-postyour question there. We also have a google group and an IRC channel which are the preferred media for support.

[2017-03-19 20:28] #48 closed

[2017-03-19 20:28] KennethNielsen commented on #46
Hi @bioken

All development of SoCo has moved to https://github.com/SoCo/SoCo. Please re-postyour question there. We also have a google group and an IRC channel which are the preferred media for support.

[2017-03-19 20:28] #46 closed